<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{url_for ("static", filename = "styles/styles.css")}}>
    <title>Login</title>
</head>
<body>
    <!-- Navigation bar -->
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/agents">Agents</a>
        <a href="/signatures">Signature Abilities</a>
        <a href="/basic">Basic Abilities</a>
        <a href="/ultimate">Ultimate Abilities</a>
        <a href="/posts">Posts</a>
        <a href="/create">Create Post</a>
        <a class=active href="/admin">Admin</a>
    </div>
    <div>
    <!-- Input for the password  -->
    <form action="/admin" method="post">
        <label for="password">Enter the admin password</label><input type=text name=password>
        <!-- If password is incorrect reload the page with an error message. -->
        {% if authorised == False %}
        <p style="color: red;">Password incorrect.</p> 
        {% endif %}
        <input type=submit value=Login>
    </form>
    </div>
</body>
</html>