<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{url_for ("static", filename = "styles/styles.css")}}>
    <title>Agents</title>
</head>
<body>
    <div class="topnav">
      <a href="/">Home</a>
      <a class=active href="/agents">Agents</a>
      <a href="/signatures">Signature Abilities</a>
      <a href="/basic">Basic Abilities</a>
      <a href="/ultimate">Ultimate Abilities</a>
      <a href="/posts">Posts</a>
      <a href="/create">Create Post</a>
      <a href="/admin">Admin</a>
    </div>
    <div class = "split left">
      <p>Agents are the playable characters in VALORANT, representing an agent of the VALORANT Protocol. Each agent serves as a different class with four abilities and are mostly unlocked by progressing through their Contract.
        Five agents are immediately available for players to use; Brimstone, Jett, Phoenix, Sage, and Sova. All other agents must be unlocked by progressing through each of their agent contracts and completing Tier 5. New players can also unlock two additional agents by progressing through the Play to Unlock contract and earning free agent unlocks at Tiers 5 and 10, which will immediately grant XP for the selected agent to reach Tier 5 of their contract and recruit the agent.
        </p>
        <p>Each agent has 100 base HP (increased with shields) and four abilities, including a Signature and an Ultimate ability. Depending on their abilities and playstyle, agents will be assigned to one of four roles:</p>
        <p>
        Controller agents are experts in slicing up dangerous territory to set their team up for success.</p>
        <p>Duelist agents are self-sufficient fraggers who their team expects, through abilities and skills, to get high frags and seek out engagements first.</p>
        <p>Initiator agents challenge angles by setting up their team to enter contested ground and push defenders away.</p>
        <p>Sentinel agents are defensive experts who can lock down areas and watch flanks, both on attacker and defender rounds.
      </p>
      <a href="/info/Brimstone"> Viper</a>
    </div>
    <div class = "split right">
      <table class="center">
          <tr>
              <th>Icon</th>
              <th>Agent Number</th>
              <th>Agent Name</th>
              <th>Origin</th>
              <th>Type</th>
              <th>Role</th>
          </tr>
          {% for item in results %}
          <tr>
            <td>
              <img src="{{ url_for('static', filename='images/agent icons/' +  item[5])}}">
            </td>
            <td>{{  item[0]  }}</td>
            <td><a href="/info/{{  item[1]  }}">{{  item[1]  }}</a></td>
            <td>{{  item[2]  }}</td> 
            <td>{{  item[3]  }}</td>
            <td>{{  item[4]  }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
</body>
</html>