<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{url_for ("static", filename = "styles/styles.css")}}>
    <title>Basic Abilities</title>
</head>
<body>
  <!-- navigation bar -->
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/agents">Agents</a>
        <a href="/signatures">Signature Abilities</a>
        <a class=active href="/basic">Basic Abilities</a>
        <a href="/ultimate">Ultimate Abilities</a>
        <a href="/create">Create Post</a>
        <a href="/admin">Admin</a>
    </div>
    <div>
      <p></p>
    </div>
    <div><p>All agents have a unique set of abilities designed to give them more tactical opportunities and assist their
      gunplay.&nbsp;Most abilities have a cost to obtain and use (through credits or ult points), though some are given for free.&nbsp;
      Many abilities have to be equipped to be used, causing the agent to go through an equip animation for a short amount 
      of time before they can cast the ability, though some can be cast instantly.</p>
      <p>Agents can be prevented from using abilities if they are suppressed. </p>
      <p>Abilities that deal damage can hurt both enemies and allies, with a couple of exceptions that completely prevent friendly fire.&nbsp;Abilities that can damage allies deal 1/3 damage.</p>
      <p>Basic abilities are abilities that most agents have to purchase using credits to be able to use. Most agents have two basic abilities, though there are agents with one or three basic abilities.</p>
    </div>
<!-- left side of page -->
    <div class = "split left">
      <table class="center">
        <tr>
            <th>Icon</th>
            <th>Ability Name</th>
            <th>Function</th>
            <th>Agent</th>
            <th>Max Charges</th>
            <th>Cost</th>
        </tr>
        {% for item in results_c %}
        <tr>
          <td>
            <img src="{{ url_for('static', filename='images/ability icons/basic/c/' + item[5])}}">
          </td>
          <td>{{  item[0]  }}</td>
          <td>{{  item[1]  }}</td>
          <td>{{  item[2]  }}</td>
          <td>{{  item[3]  }}</td>
          <td>{{  item[4]  }}</td>
        </tr>
        {% endfor %}
    </table>
    </div>
<!-- right side of page -->
    <div class = "split right">
      <table class="center">
          <tr>
              <th>Icon</th>
              <th>Ability Name</th>
              <th>Function</th>
              <th>Agent</th>
              <th>Max Charges</th>
              <th>Cost</th>
          </tr>
          {% for item in results_q %}
          <tr>
            <td>
              <img src="{{ url_for('static', filename='images/ability icons/basic/q/' + item[5])}}">
            </td>
            <td>{{  item[0]  }}</td>
            <td>{{  item[1]  }}</td>
            <td>{{  item[2]  }}</td>
            <td>{{  item[3]  }}</td>
            <td>{{  item[4]  }}</td>
          </tr>
          {% endfor %}
      </table>
    </div>
</body>
</html>