<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{url_for ("static", filename = "styles/styles.css")}}>
    <title>Everything Valorant</title>
</head>
<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/agents">Agents</a>
        <a href="/signatures">Signature Abilities</a>
        <a href="/basic">Basic Abilities</a>
        <a href="/ultimate">Ultimate Abilities</a>
        <a href="/login">Login</a>
    </div>
    <div class="row" style="padding-top: 50px;">
        <div class="col-1"></div>
        <div class="col-5" style="background-color:rgb(219, 222, 222);" id="example2">
            <img src="/static/images/homepage/Valorant_ignition.png" alt="Valorant Ignition splash art">
            <p>Valorant Splash Art for Episode 1: Ignition</p>
        </div> <!-- 41% -->
        <div class="col-5" style="background-color:rgb(219, 222, 222);" id="example2">
            <img src="/static/images/homepage/Valorant_formation.png" alt="Valorant Formation splash art">
            <p>Valorant Splash Art for Episode 2: Formation</p>
        </div> <!-- 41% -->
        <div class="col-1"></div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-5" style="background-color:rgb(219, 222, 222);" id="example2">
            <img src="/static/images/homepage/ep-3.png" alt="Valorant Reflection splash art">
            <p>Valorant Splash Art for Episode 3: Reflection</p>
        </div> <!-- 41% -->
        <div class="col-5" style="background-color:rgb(219, 222, 222);" id="example2">
            <img src="/static/images/homepage/Episode_4_Splash.png" alt="Valorant Disruption splash art">
            <p>Valorant Splash Art for Episode 4: Disruption</p>
        </div> <!-- 41% -->
        <div class="col-1"></div>
    </div>
    {% if username == true:%}
    {%    print("You are logged in as " + username) %}
    {% endif %}
</body>
</html>