<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{url_for ("static", filename = "styles/styles.css")}}>
    <title>Login</title>
</head>
<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/agents">Agents</a>
        <a href="/signatures">Signature Abilities</a>
        <a href="/basic">Basic Abilities</a>
        <a href="/ultimate">Ultimate Abilities</a>
        <a class="active" href="/login">Login</a>
    </div>
    <div>
    <form method="post">
        <p><input type=text name=username>
        <p><input type=submit value=Login>
    </form>
    </div>
</body>
</html>