<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{url_for ("static", filename = "styles/styles.css")}}>
    <title>Ultimate Abilities</title>
</head>
<body>
    <div class="topnav">
      <a href="/">Home</a>
      <a href="/agents">Agents</a>
      <a href="/signatures">Signature Abilities</a>
      <a href="/basic">Basic Abilities</a>
      <a class=active href="/ultimate">Ultimate Abilities</a>
      <a href="/create">Create Post</a>
      <a href="/admin">Admin</a>
    </div>
    <div class = "split left">
      <p>Ultimate abilities are the strongest in the game.&nbsp;
        To use an ultimate, players must acquire ult points.&nbsp;
        These are earned by killing enemies, dying, capturing
        ultimate orbs, and completing a spike plant or defuse.&nbsp;
        Once a player has earned enough ult points, they can
        use them up to cast their ultimate. &nbsp;Upon doing so, all
        players will hear a global voice line alerting them to
        that specific agent using their ultimate. &nbsp;The voice
        line heard is different for allies and enemies.</p>
    </div>
    <div class = "row">
      <table class= "right">
         <tr>
             <th>Icon</th>
             <th>Ability Name</th>
             <th>Function</th>
             <th>Agent</th>
             <th>Ult Points</th>
         </tr>
         {% for item in results %}
         <tr>
           <td>
             <img src="{{ url_for('static', filename='images/ability icons/ultimate/' + item[4])}}">
           </td>
           <td>{{  item[0]  }}</td>
           <td>{{  item[1]  }}</td>
           <td>{{  item[2]  }}</td>
           <td>{{  item[3]  }}</td>
          </tr>
          {% endfor %}
       </table>
      </div>
</body>
</html>